services:
  - type: web
    name: lezit-transports-frontend
    env: static
    plan: free
    buildCommand: npm install && npm run build
    staticPublishPath: ./build
    routes:
      - type: rewrite
        source: /*
        destination: /index.html
    envVars:
      - key: REACT_APP_API_URL
        sync: false
      - key: REACT_APP_GOOGLE_CLIENT_ID
        sync: false 